@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@100&family=Poppins:ital,wght@1,600&family=Sofia+Sans+Condensed:ital,wght@0,700;0,900;1,1;1,300&display=swap');
* {
  
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'bold';
    src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'italic';
    src: url(Poppins/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: 'poppins';
    src: url(Poppins/Poppins-Light.ttf);
}
body {
  background-color: #0c0c0c;
  margin: 0;
  padding: 0;
  
  position: relative;
  
  background-size: cover;

}

.titulo p {
  font-family: 'bold';
}

.sub-titulo {
  font-family: 'italic';
}

.texto p {
  font-family: 'poppins';
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 1510px;
  height: 1080px;
  filter: blur(10px);
  opacity: 0.5; /* Ajuste a opacidade conforme necessário */
  z-index: -1;
  margin-top: -200px;
}

.container-cima {
    position: relative;
    z-index: 1;
    
}

/* Conteudo da logo e de navegar*/
.logo {
  height: 60px;
  width: 140px;
  margin-top: -20px;
}
.container-cima {
  margin-top: 60px;
  margin-left: 120px;
  display: flex;

}

.menu {
  margin-top: -40px;
  margin-left: 140px;
  justify-content: center;
  display: flex;
  position: relative;
  color: white;
}
.conteudo {
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}
.container {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

.mainbox {
  margin-top: -15px;
  box-sizing: border-box;
  position: relative;
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: #212121;
  transition: all 0.3s ease;
}

.checkbox:focus {
  border: none;
  outline: none;
}

.checkbox:checked {
  right: 10px;
}

.checkbox:checked ~ .mainbox {
  width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}


/* proximo conteudo */

.proximo-conteudo {
  flex-direction: column;
}
.teddy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
.foto-fnaf1 {
  width: 1510px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.foto-fnaf2 {
  width: 300px;
  /* position: absolute; */
  top: 210px;
  left: 130px;
}
.imagem {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 90px;

}
.infos {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.idade {
  font-size: px;
  background-color: orange;
  margin: 0 50px;
  padding: 5px 7px;
  font-family: 'Poppins', sans-serif;
}
.tempo {
  margin: 0 50px;
  font-family: 'Poppins', sans-serif;
}

/*menu */

.contato1 {
  width: 42px;
}
  .menu1 {
  width: 40px;
}


/* texto */
.titulo {
  font-family: 'Poppins', sans-serif;
  color: white;
  /* position: absolute; */
  left: 690px;
  font-size: 30px;
}

.cont {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.cont::before {
  margin-left: auto;
}

.cont::after, .cont::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.cont:hover::after, .cont:hover::before {
  width: 100%;
}
.sub-titulo {
  font-size: 20px;
}
.menu-contato {
  position: absolute;
  left: 1300px;
  top: 78px;
}
.texto p {
  margin-top: 20px;
  font-size: 15px;

}
.lancamento  {
  font-size: 20px;
  margin-top: 10px;

}
.universal-studios {
  width: 50px;
}
.blum {
  width: 50px;
}

.lancamento p {
  font-family: 'poppins';
}

.btn2 {
  left: 250px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #f44336;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
}
 
.btn2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}
  
.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}
  
.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.05s;
}
  
  .btn2:hover {
  border: 2px solid #fefefe;
  }
  
.btn2 span {
  position: relative;
  z-index: 3;
}
  
  button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  }
/* elenco */
.solo-linha1 {
  height: 1px;
  width: 1300px;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  margin-left: 115px;
}
.elenco {
    font-family: 'poppins';
 
    z-index: 3;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 40px;
}
.elenco-filme-fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 10px;
}
.atores {
  padding: 40px;
  width: 70px;
  height: 70px;
}
.elenco-filme-fotos p {
  margin-top: -10px;
  color: white;
  font-size: 10px;
  font-family: 'poppins';
}
.pessoas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ver {
  text-align: center;
  margin-top: 140px;
  color: white;
  font-family: 'poppins';
  z-index: 1;
  margin-left: 380px;
}
.ver2 {
  left: 250px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  z-index: 3;
}
.solo-linha2 {
  height: 1px;
  width: 1300px;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-left: 115px;
}
.salas {
  margin-top: 70px;
  text-align: center;
  font-size: 20px;
  font-family: 'poppins';
  color: white;
}
.sala {
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  display: flex;
  
}
.horarios {
  margin: 30px;
  background-color: #212121;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.horarios::before {
  margin-left: auto;
}

.horarios::after, .horarios::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.horarios:hover::after, .horarios:hover::before {
  width: 100%;
}
.botaos {
  margin-top: 30px;
  position: absolute;
  left: 450px;
}
#baixo {
  background-color: #212121;
  border-radius: 20px;
  font-family: 'poppins';
  margin-top: 30px;
}
.receba h1 {
  font-size: 17px;
}
.cadastro {
  margin-top: 30px;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.nome {
  width: 250px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}
.email {
  width: 250px;
  height: 30px;
  border-radius: 5px;
}
.cadastra-se {
  color: black;
  background-color: white;
  width: 140px;
  height: 60px;
  border-radius: 20px;
  margin-left: 20px;
  font-size: 20px;
}
.template {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.temp1 {
  color: white;
  margin: 50px;
  font-size: 10px;
}
/*
.temp2 {
  color: white;
}
.temp3 {
  color: white;
}
.temp4 {
  color: white;
}*/
.linha {
  width: 1px;
  height: 200px;
  background-color: white;
  margin-top: -10px;
}
.folder {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 10px;
}
.logo-baixo {
  width: 50px;
}


